{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{%  block body%}
<div class="bg-dark text-secondary px-5 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Can't choose what to watch with your friends?</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 my-4">Let me help you</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/search">
              <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Let's go</button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}