{% extends 'layout.html' %}
{% block title %}Link{% endblock %}
{% block body %}
<div class="mx-auto w-50 mt-5">
    <a href="{{voting_url}}" id="go_voting" target="_blank">Go to voting</a><br/>
    <button class="btn btn-outline-info copy btn-lg my-3">Copy to clipboard</button><br/>
    <img src="/static/qrs/{{voting_id}}.png" alt="qr code to join" width="300" height="300"><br/>
    <a href="/"><button class="btn btn-outline-info copy btn-lg my-3">Create another voting</button></a><br/>
</div>

<script>
    var href = $("a").attr("href");
    $("button").on("click", function (){
        navigator.clipboard.writeText(href);
        alert("copied");
    });
    console.log(href);
</script>
{% endblock %}